apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx-apps
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      targetRevision: 4.11.0
      helm:
        releaseName: ingress-nginx
        valueFiles:
          - $values/infrastructure/ingress-nginx-apps/values.yaml
    - repoURL: https://github.com/iessenov/gitops.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx-apps
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true # ServerSideApply=true tells ArgoCD to use Kubernetes' server-side apply mechanism, which handles conflicts gracefully when resources already exist. This prevents the "already exists" error.
