replicaCount: 1

service:
  type: ClusterIP
  ports:
    http: 80

ingress:
  enabled: true
  ingressClassName: traefik
  pathType: Prefix
  hosts:
    - host: whoami-helm.essenov.com
      paths:
        - /
  tls: []