replicaCount: 1

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: whoami-helm.essenov.com
      paths:
        - path: /
          pathType: Prefix
  tls: []